.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/*
*  Svolgimento
*/
/*** Esercizio 1 ***/
.ex-1-square {
    transition: background-color 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

/*** Esercizio 2 ***/
.ex-2-square {
    transition: width 2s ease;
}

.ex-2-square:active {
    width: 100%;
}

/*** Esercizio 3 ***/
.ex-3-square {
    transition: border-radius 2s ease-out;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/*** Esercizio 4 ***/
.ex-4-square {
    transition: opacity 2s ease-out;
}

.ex-4-square:hover {
    opacity: 0;
}

/*** Esercizio 5 ***/
.ex-5-square {
    transition: scale 0.2s ease-out;
}

.ex-5-square:hover {
    scale: 130%;
}

.ex-5-square:active {
    scale: 120%;
}

/*** Esercizio 6 ***/
.ex-6-img:hover {
    filter: grayscale(1);
}

/*** Esercizio 7 ***/
.ex-7-img {
    transition: filter 0.4s ease-in;
}
.ex-7-img:hover {
    filter: grayscale(1) contrast(2);
}

/*** Esercizio 8 ***/
.ex-8-img {
    transition: filter 0.4s ease-in, border-radius 0.2s linear;
}
.ex-8-img:hover {
    filter: saturate(3) hue-rotate(-90deg);
    border-radius: 30px;
}

/*** Esercizio 9 ***/
.ex-9-img {
    transition: filter 0.4s ease-in, border-radius 0.2s linear, scale 0.4s ease-in-out;
}
.ex-9-img:hover {
    filter: sepia(80%) brightness(1);
    border-radius: 30px;
    scale: 0.9;
}

/*** Esercizio 10 ***/
.ex-10-icon {
    animation: 3s linear infinite caricamento;
}

@keyframes caricamento {
    100% {
        rotate: 360deg;
    }
}

/*** Esercizio 11 ***/
.ex-11-icon:hover {
    animation: 4s cubic-bezier(.5,0,0,1) 1 alternate charge-failed;
}

@keyframes charge-failed {
    90% {
        rotate: 270deg;
    }
    
    100% {
        rotate: 0deg;
    }
}

/*** Esercizio 12 ***/
a:hover .ex-12-top-white {
    animation: 
            0.5s ease-in-out 2 alternate one-click-top,
            0.5s ease-in-out 2 alternate one-click-bottom;
}

@keyframes one-click-top {
    0% {
        left: 10%;
    }
    100% {
        left: 60%;
    }
}

a:hover .ex-12-bottom-white {
    animation: 0.5s ease-in-out 2 alternate one-click-bottom;
}

@keyframes one-click-bottom {
    0% {
        right: 20%;
    }
    100% {
        right: 60%;
    }
}